@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fredericka+the+Great&display=swap');
  :root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 0%);
  }

  html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 62.5%;
  }

  body { 
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url(../images/pattern3.jpg);
    background-position: center;
    background-size: contain;
  }

  header {
    text-align: center;
  }

  header img {
    width: 250px;
    text-align: center;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    gap: 10px;
    justify-content: center;
    align-items: center;  
  }

  .card {
    background-color: rgba(255, 255, 255, 0.871);
    margin-top: 20px;
    width: 180px;
    height: 304px;
    border-radius: 16px;
    box-shadow: 10px 10px 10px rgba(9, 86, 149, 0.205);
    transform-style: preserve-3d;
    transition: .5s ease;
  }

  .card-header {
    width: 100%;
    display: block;
  }

  h1{
    text-align: center;
    font-weight: 400;
    font-family: 'Fredericka the Great', cursive;
  }

  .card-body {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid rgba(153, 153, 153, 0.425);
  }

  .card-body-img {
    border: 2px solid white;
    border-radius: 100%;
    width: 100px;
    margin-top: 1rem;
  }

  .card-body-title {
    margin-top: 2rem;
    font-size: 1.8rem;
  }

  .card-body-title span {
    color: var(--dark-gray);
    font-weight: 400;
  }

  .card-body-text {
    font-family: 'Dancing Script', cursive;
    font-weight: 200;
    color: var(--dark-gray);
    font-size: 1.6rem;
    margin-bottom: 2rem;
    margin-top: 0px;
  }

  .card-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .card-footer-social {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .card-footer-social p {
    letter-spacing: 1px;
  }

.cardFront,.cardBack{
}

.card:hover{
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.cardBack{
  position: absolute;
  top: 0px;
  transform: rotateY(180deg);
  height: 304px;
  backface-visibility: hidden;
  background-color: white;
  width: 180px;
  border-radius: 16px;
    box-shadow: 10px 10px 10px rgba(9, 86, 149, 0.205);
}  