@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fredericka+the+Great&display=swap');
:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 0%);
}

*{
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body { 
 /*  width: 100vw;
  height: 100vh; */
  font-family: 'Kumbh Sans', sans-serif;
  background-color: black;
/*   background-image: url(../images/pattern3.jpg);
  background-position: center;
  background-size: contain; */
}

header {
  text-align: center;
}

header img {
  width: 250px;
  text-align: center;
 }

.flex {
  display: flex;
  flex-wrap: wrap;
  position: static;
  justify-content: center;
}

.card {
  background: #c9949f;
  display: flex;
  width: 23vw;
  height: 225px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: all 0.5s;
  border-radius: 15px;
  box-shadow: -1px 6px 0px 0px rgb(134 44 149 / 73%), 0 2px 2px 0 rgb(138 21 217 / 87%), 0 1px 5px 0 hsl(185deg 75% 39%);
  flex-direction: column;
  transition: all;
  transition-duration: 2s;
  min-width: 316px; 
}

.imagenTitulo{
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  /* align-content: center; */
  /* flex-wrap: nowrap; */
  align-items: center;
}



.card-body-img {
  box-shadow: -1px 6px 0px 0px rgb(134 44 149 / 73%), 0 2px 2px 0 rgb(138 21 217 / 87%), 0 1px 5px 0 hsl(185deg 75% 39%);
  border: 2px solid white;
  border-radius: 100%;
  width: 100px;
  margin: 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  

  align-items: center;
  border-bottom: 1px solid rgba(153, 153, 153, 0.425);
}


.Abre .imagenTitulo{
  flex-direction: row;
}



h1{
  text-align: center;
  font-weight: 400;
  font-family: 'Fredericka the Great', cursive;
  width: 100%;
  font-size: 2rem;

}

.Abre{
  width: 100vw;
  height: 85vh;
  background: #48b8bbf5;
  animation: aCero 1s ease-in 1s  both running ; 
  border-radius: 0%;
  transition: all;
  transition-duration: 2s;
  z-index: 1;

 }

.Abre img {
  width:236px;
}

.Abre h3{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.8rem;

}

.Abre h3~p{
  font-size: 1rem;
  margin: 0px;
}
.card-footer{
display: none;
}

.Abre .card-footer{
  display: flex;
  /* gap: 10px; */
  flex-direction: column;
  /* height: 55%; */
  font-size: 0.6rem;
  /* margin-top: 4rem; */
  width: 250px;
  align-items: flex-start;

}
.datosTarjeta{
  opacity: 0;
}
.Abre .datosTarjeta {
  display: flex;
  flex-direction: row;
  background-color: white;
  /* width: 90vw; */
  /* text-align: center; */
  padding: 3rem;
  /* height: 90%; */
  flex-wrap: wrap;
  height: 47%;
  transition: all;
  transition-duration: 2s;
  
}

.episodes{
  display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    height: 36%;
        overflow: scroll;
}
.episodes::-webkit-scrollbar {
  display: none;
}

.Abre > .aparece{
  opacity: 1;
}

.Abre  h1{
  font-size: 4rem;
}

@keyframes aCero {
  0%{}
  100%{
    top:0px;
    left:0px;
  }
}

@media (max-width: 600px) {
.imagenTitulo{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}  
.Abre .card-footer {
  display: flex;
  /* gap: 48px; */
  /* height: 55%; */
  font-size: 0.6rem;
  /* margin-top: 4rem; */
  /* width: 250px; */
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
}
.Abre h3 {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 0.8rem;
}
.Abre img {
  width: 144px;
}

.card {
  transition: all;
  transition-duration: 2s;
  min-width: 300px;
  padding: 1rem;
  height: 100vh;
}
.Abre .datosTarjeta {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100vw;
  /* margin: 1rem; */
  border-radius: 0;
  /* text-align: center; */
  padding: 2rem;
  /* height: 90%; */
  flex-wrap: wrap;
  height: 62%; 
  transition: all;
  transition-duration: 2s;
}
}
