@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fredericka+the+Great&display=swap');
:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 0%);
}

*{
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body { 
  width: 100vw;
  height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
  background-color: black;
/*   background-image: url(../images/pattern3.jpg);
  background-position: center;
  background-size: contain; */
}

header {
  text-align: center;
}

header img {
  width: 250px;
  text-align: center;
 }

.flex {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
}

.card {
  background: #c9949f;
  display: flex;
  width: 300px;
  height: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: all 0.5s;
  border-radius: 15px;
  position: relative;
  z-index: 10;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  flex-direction: column;
}
.imagenTitulo{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.Abre .imagenTitulo{
  flex-direction: row;
}

.card-body {
  display: flex;
  flex-direction: column;
  z-index: 10;

  align-items: center;
  border-bottom: 1px solid rgba(153, 153, 153, 0.425);
}

.card-body-img {
  border: 2px solid white;
  border-radius: 100%;
  width: 100px;
  margin: 1rem;
  z-index: 10;

}

h1{
  text-align: center;
  font-weight: 400;
  font-family: 'Fredericka the Great', cursive;
  z-index: 10;

}

.Abre{
  width: 100vw;
  height: 85vh;
  z-index: 200;
  background: #48b8bbf5;
  animation: aCero 1s ease-in 1s  both running ; 
  z-index: 12;
  border-radius: 0%;

 }

.Abre img {
  width:236px;
}

.card-footer{
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  align-items: baseline;

}

.oculta{

}

@keyframes aCero {
  0%{}
  100%{
    top:0px;
    left:0px;
  }
}
